## 2. Data Analyst - Run SQL on tables and plot data

In [ ]:
from google.cloud import bigquery
import json

client = bigquery.Client()

Learn more about Ipython magics for BigQuery https://googleapis.dev/python/bigquery/latest/magics.html

In [ ]:
project_id = !gcloud config list --format 'value(core.project)' 2>/dev/null 
dataset_name = project_id[0] + '-raw'
dataset_name = dataset_name.replace('-', '_')
table_path = "`" + project_id[0] + '.' + dataset_name + '.transaction_data_train`' 
table_path

Substitute **table_path** in the FROM clauses below

In [ ]:
%%bigquery 
SELECT 
    isFraud,
    COUNT(*) as count
FROM <table_path>
GROUP BY isFraud

In [ ]:
%%bigquery
SELECT 
    type,
    COUNT(*) as Transactions,
    AVG(amount) as Average_amount
FROM <table_path>
GROUP BY type

In [ ]:
%%bigquery
SELECT 
    type, 
    SUM(amount) as total_amount
FROM <table_path>
GROUP BY type

### Spark to Pandas DataFrame

Enable Apache Arrow to allow faster conversion from Spark DataFrame to Pandas DataFrame.

In [ ]:
sql = f"""
SELECT 
    type,
    COUNT(*) as Transactions,
    AVG(amount) as Average_amount
FROM {table_path}
GROUP BY type
"""

In [ ]:
df_transaction_data_train = client.query(sql).to_dataframe()

In [ ]:
type(df_transaction_data_train)

In [ ]:
df_transaction_data_train.head()

### Plot data using Pandas Plotting

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df_transaction_data_train.plot.bar(x='type', y='Average_amount', rot=90)

In [ ]:
df_transaction_data_train.set_index('type', inplace=True)
df_transaction_data_train.head()

In [ ]:
df_transaction_data_train.plot.bar(rot=90, subplots=True)